<% provide(:title, 'Upload a Tutorial') %>
<div class="container">
  <h1>Add a new salon</h1>
 
  <%= form_for @salon do |f| %>
 
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :address %>
      <%= f.text_field :address %>
      <span class="help-block">Enter the address of the salon</span>
    </div>
 
    <%= f.submit class: 'btn btn-default' %>
  <% end %>
</div>