<h1><%= @tag.name %></h1>

<% if Salon.tagged_with(@tag.name).any? %>
	<h2>Salons</h2>
	<% Salon.tagged_with(@tag.name).each do |salon| %>
		<h4><%= salon.name %></h4>
	<% end %>
<% elsif Video.tagged_with(@tag.name).any? %>
	<h2>Videos</h2>
	<% Video.tagged_with(@tag.name).each do |video| %>
		<div class="well">
		  <h1><%= video.title %></h1>
		  <div class="yt_video thumbnail">
	        <%= link_to video.link do %> <%= image_tag "https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title, class: 'yt_preview img-rounded', :"data-uid" => video.uid %> <% end %> 
	        <div class="caption">
	          <p>Uploaded by: <b><%= video.author %></b></p>
	          <% if !current_user.voted_for? video %>
	                      <%= link_to 'Add to favorites', favorite_video_path(video), method: :put %>
	          <% elsif current_user.voted_for? video %>
	                      <%= link_to 'Remove from favorites', unfavorite_video_path(video), method: :put%>
	          <% end %>
	            <p>
	              Styles:
	              <%= video.tag_list %>
	            </p>
	          </p>
	        </div>
	      </div>
		</div>
	<% end %>
<% else %>
	<h2>Nothing is tagged with <%= @tag.name %></h2>
<% end %>



